.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}
