.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  z-index: 0;
  margin: 0;
  padding: 0;
}
